

<p>
  <strong>Codigo:</strong>
  <%= @producto.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @producto.tipo %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @producto.valor %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @producto.empresa.nombre %>
</p>

<%= link_to 'Editar', edit_producto_path(@producto) %> 
<%= link_to 'Volver', productos_path %>
