 

<p>
  <strong>Rut:</strong>
  <%= @empresa.rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @empresa.nombre %>
</p>

<p>
  <strong>Rubro:</strong>
  <%= @empresa.rubro %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @empresa.direccion %>
</p>

<%= link_to 'Editar', edit_empresa_path(@empresa) %> |
<%= link_to 'Volver', empresas_path %>
